/* Color */
/* Media tablette and mobile */
/* Menu page animation */
.menu__card__starter {
  animation: start ease-in-out 1500ms 1 both 500ms;
}

.menu__card__dish {
  animation: start ease-in-out 1500ms 1 both 1000ms;
}

.menu__card__dessert {
  animation: start ease-in-out 1500ms 1 both 1500ms;
}

@keyframes start {
  0% {
    opacity: 0;
    height: 0px;
  }
  75% {
    opacity: 0;
    height: 100px;
  }
  90% {
    opacity: 0.75;
  }
  100% {
    opacity: 1;
    height: 125px;
  }
}
/* loader */
.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 9999;
  animation: disappear 1400ms ease-in-out forwards;
  animation-delay: 1000ms;
}
.loader__container {
  border: 6px solid transparent;
  border-right-color: #9356DC;
  border-left-color: #99E2D0;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 900ms linear infinite;
}
.loader__container::after {
  content: "";
  position: absolute;
  top: 10px;
  left: 10px;
  bottom: 10px;
  right: 10px;
  border: 6px solid transparent;
  border-radius: 50%;
  border-top-color: #9356DC;
  border-bottom-color: #99E2D0;
  opacity: 0.6;
  animation: spinreverse 500ms linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes spinreverse {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}
@keyframes disappear {
  0% {
    opacity: 1;
    visibility: visible;
  }
  90% {
    opacity: 1;
    visibility: visible;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}
button {
  border: none;
  text-decoration: none;
  font-size: 16px;
  margin: 0px 40px 0px 40px;
}

/* Font */
* {
  font-family: "roboto", sans-serif;
  margin: 0;
}

a {
  text-decoration: none;
  color: black;
}

/* General main */
h2 {
  margin: 24px;
}
@media screen and (min-width: 1024px) {
  h2 {
    margin: 0px;
  }
}

/* General footer */
ul li {
  padding-bottom: 5px;
  list-style-position: outside;
}

/* header and formular style */
.nav__logo {
  width: 170px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 15px;
}

.form {
  display: flex;
  flex-direction: row;
  width: 100%;
  padding: 20px 0px 20px 0px;
  background-color: #EAEAEA;
  box-shadow: inset 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
  justify-content: center;
}
.form__location-dot {
  font-size: 16px;
  margin-right: 10px;
  align-items: center;
}
.form__ville {
  font-weight: bold;
  background-color: #EAEAEA;
  border: none;
  padding: 0px;
  text-align: center;
  font-size: 19px;
  width: 150px;
}

.section__hero {
  display: flex;
  flex-direction: column;
  background-color: #F6F6F6;
  text-align: center;
  padding: 40px 0px 80px 0px;
}
.section__hero p {
  font-size: 18px;
  margin: 0px 20px 20px 20px;
}
.section__hero__button {
  color: white;
  width: 218px;
  padding: 20px;
  border-radius: 25px;
  margin: auto;
  background: linear-gradient(#FF79DA, #9356DC);
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
  transition: all 700ms ease-in-out;
}
.section__hero__button:hover {
  transform: scale(1.1);
  box-shadow: 3px 12px 22px 3px rgba(0, 0, 0, 0.4);
}

/* Fonctionnement Style */
.filter {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
@media screen and (min-width: 1024px) {
  .filter {
    padding: 20px 108px 20px 108px;
  }
}
@media screen and (min-width: 1024px) {
  .filter__desktop {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 20px;
  }
}
@media screen and (min-width: 1024px) {
  .filter__title {
    width: 100%;
  }
}
.filter__content {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  border-radius: 20px;
  width: 80%;
  height: 72px;
  margin: 0 20px 40px 40px;
  font-size: 16px;
  background-color: #F6F6F6;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
}
@media screen and (min-width: 1024px) {
  .filter__content {
    width: 40%;
    margin: 15px;
    white-space: nowrap;
  }
}
.filter__content:hover i {
  color: #9356DC;
}
.filter__content p {
  margin: 10px;
  border-radius: 50px;
  width: 30px;
  height: 30px;
  background-color: #9356DC;
  color: white;
  line-height: 30px;
  text-align: center;
  position: absolute;
  top: 12px;
  left: -25px;
}
.filter__content i {
  margin: 0px 5px 0px 40px;
}
.filter__content h3 {
  font-size: 16px;
  margin: 15px;
  text-align: center;
  white-space: nowrap;
}
@media screen and (min-width: 1024px) {
  .filter__content h3 {
    white-space: normal;
  }
}

/* Restaurants style */
.restaurants {
  display: flex;
  flex-direction: column;
  background-color: #F6F6F6;
  padding: 40px 0 40px 0;
}
@media screen and (min-width: 1024px) {
  .restaurants {
    padding-left: 108px;
    padding-right: 108px;
  }
}
@media screen and (min-width: 768px) {
  .restaurants__title {
    padding-bottom: 20px;
  }
}
@media screen and (min-width: 768px) {
  .restaurants__cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    row-gap: 50px;
    justify-content: space-between;
  }
}
@media screen and (min-width: 1024px) {
  .restaurants__cards {
    column-gap: 100px;
  }
}
.restaurants__cards__card {
  padding: 0px;
  background-color: white;
  border-radius: 20px;
  margin: 20px 20px 20px 20px;
  position: relative;
  height: 257px;
  width: 90%;
}
@media screen and (min-width: 768px) {
  .restaurants__cards__card {
    width: 40%;
  }
}
@media screen and (min-width: 1024px) {
  .restaurants__cards__card {
    width: 43%;
    margin: 0;
  }
}
.restaurants__cards__card__new {
  color: #008766;
  background-color: #99e2d0;
  text-align: center;
  width: 70px;
  padding: 5px;
  position: absolute;
  top: 2%;
  right: 3%;
}
.restaurants__cards__card img {
  -o-object-fit: cover;
  object-fit: cover;
  border-radius: 20px 20px 0 0;
  width: 100%;
  max-height: 169px;
}
.restaurants__cards__card__text {
  margin: 8px;
}
.restaurants__cards__card__text__title {
  padding-bottom: 10px;
}

.restaurants__cards__card__heart {
  cursor: pointer;
  position: absolute;
  width: 24px;
  height: 24px;
  bottom: 30px;
  right: 24px;
}
.restaurants__cards__card__heart .fa-heart {
  font-size: 24px;
  transition: opacity 1s ease-in-out;
}
.restaurants__cards__card__heart .fa-heart:hover {
  opacity: 1;
}
.restaurants__cards__card__heart .fa-regular {
  position: absolute;
  top: 0;
  left: 0;
}
.restaurants__cards__card__heart .fa-solid {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  background: linear-gradient(#9356DC, #FF79DA);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/*footer*/
.footer {
  display: flex;
  flex-direction: column;
  background-color: #353535;
  color: white;
}
.footer__title {
  font-family: "Shrikhand", sans-serif;
  font-weight: 400;
  margin: 18px;
  font-size: 18px;
  cursor: pointer;
}
@media screen and (min-width: 768px) {
  .footer__title {
    position: relative;
    text-align: right;
    top: 63px;
  }
}
.footer__list {
  display: flex;
  flex-direction: column;
  list-style: none;
  padding: 0px;
  margin: 20px;
  z-index: 1;
}
@media screen and (min-width: 768px) {
  .footer__list {
    flex-direction: row;
    justify-content: flex-end;
    margin-right: 200px;
  }
}
.footer__list__text {
  text-decoration: none;
  margin: 0px;
  box-sizing: border-box;
}
@media screen and (min-width: 768px) {
  .footer__list__text {
    margin-left: 25px;
  }
}
.footer__list__text a {
  color: white;
  display: flex;
  flex-direction: row;
}
.footer__list__text__fa-solid {
  display: flex;
  flex-direction: row;
}
.footer__list__text i {
  padding-right: 20px;
  width: 20px;
}

/* Menu page restaurant style */
.main__menu {
  background-color: #EAEAEA;
}
@media screen and (min-width: 768px) {
  .main__menu {
    background-color: #F6F6F6;
  }
}

.nav__bar {
  text-align: center;
}
.nav__bar__logo {
  padding: 20px 0px 0px 10px;
  width: 200px;
}
.nav__bar__button--return {
  position: relative;
  padding: 0;
}
.nav__bar i::before {
  position: absolute;
  bottom: 30px;
  left: 10px;
  font-size: 26px;
}

.main__img img {
  -o-object-fit: cover;
  object-fit: cover;
  width: 100%;
  max-height: 400px;
  margin-top: -10px;
}

.menu {
  display: flex;
  flex-direction: column;
  background-color: #EAEAEA;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  position: relative;
  top: -30px;
}
@media screen and (min-width: 768px) {
  .menu {
    width: 60%;
    padding: 0 108px 0 108px;
    margin-left: 5%;
  }
}
@media screen and (min-width: 1024px) {
  .menu {
    width: 70%;
    padding: 0 108px 0 108px;
    margin-left: 7%;
  }
}
.menu__title {
  font-family: "Shrikhand", sans-serif;
  font-size: 27px;
  margin-left: 20px;
}
@media screen and (min-width: 768px) {
  .menu__title {
    text-align: center;
    margin-right: 20px;
    padding-top: 20px;
  }
}
.menu__heart {
  cursor: pointer;
  position: absolute;
  width: 24px;
  height: 24px;
  top: 8px;
  right: 40px;
}
@media screen and (min-width: 768px) {
  .menu__heart {
    position: absolute;
    right: 100px;
    top: 25px;
  }
}
@media screen and (min-width: 1024px) {
  .menu__heart {
    position: absolute;
    right: 260px;
    top: 25px;
  }
}
.menu__heart .fa-heart {
  font-size: 24px;
  transition: opacity 500ms ease-in-out;
}
.menu__heart .fa-heart:hover {
  opacity: 1;
}
.menu__heart .fa-regular {
  position: absolute;
  top: 0;
  left: 0;
}
.menu__heart .fa-solid {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  background: linear-gradient(#9356DC, #FF79DA);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.menu__card {
  font-size: 16px;
  font-weight: normal;
  margin: 0;
  white-space: nowrap;
}
.menu__card span {
  border-bottom: 3px solid #99E2D0;
}
@media screen and (min-width: 768px) {
  .menu__card {
    padding-right: 20px;
    padding-left: 20px;
  }
}
@media screen and (min-width: 1024px) {
  .menu__card {
    padding-right: 20px;
    padding-left: 20px;
  }
}
.menu__card__text {
  margin: 10px;
  font-weight: normal;
}
.menu__card__content {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: #F6F6F6;
  border-radius: 10px;
  padding-left: 20px;
  margin: 20px 10px 20px 10px;
  box-shadow: 0px 4px 15px 3px rgba(0, 0, 0, 0.1);
  line-height: 45px;
  overflow: hidden;
}
.menu__card__content:hover .menu__card__content__checkbox {
  width: 100px;
}
.menu__card__content__title {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.menu__card__content:hover .menu__card__content__title {
  margin-right: 80px;
}
.menu__card__content__checkbox {
  position: relative;
  background-color: #99E2D0;
  width: 0px;
  top: 12px;
  margin-top: -57px;
  transition: width 0.5s ease-in-out;
}
.menu__card__content__checkbox i {
  margin-left: 10px;
}
.menu__card__content__text {
  display: flex;
  flex-direction: row;
}
.menu__card__content__text__subtitle {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  width: 100%;
}
.menu__card__content__text__price {
  position: relative;
  font-weight: bold;
  margin-right: 10px;
}

@keyframes Cocheplat {
  0% {
    width: 0px;
  }
  100% {
    width: 110px;
  }
}
.menu__card__starter, .menu__card__dish, .menu__card__dessert {
  display: flex;
}

.menu__card__starter .fa-regular, .menu__card__dish .fa-regular, .menu__card__dessert .fa-regular {
  color: white;
  font-size: 26px;
  line-height: 92px;
  margin-left: 26px;
}

.footer__button {
  text-align: center;
  padding: 50px 0px 50px 0px;
  background-color: #EAEAEA;
}
.footer__button__menu {
  color: white;
  width: 218px;
  padding: 20px;
  border-radius: 25px;
  margin: auto;
  background: linear-gradient(#FF79DA, #9356DC);
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
  padding: 15px 60px 15px 60px;
  transition: all 700ms ease-in-out;
}
.footer__button__menu:hover {
  transform: scale(1.1);
  box-shadow: 3px 12px 22px 3px rgba(0, 0, 0, 0.4);
}

/*# sourceMappingURL=style.css.map */
